

<% if user_signed_in? && current_user.user_type =='Vendor'%>

<% else %>
    <h1>Shops</h1>
    <%= form_tag root_path, :method=>"get" do %>
    <%= label_tag(:search ,"Search by Shops:") %>
    <%= text_field_tag :search,params[:search]%>
    <%=submit_tag("Search",:name => nil)%>
    <%end%>
    <% @shops.each do |shop| %>
    <a href="/shops/<%= shop.id %>">
        <%= image_tag(shop.thumbnail()) %>
        <%= shop.shop %>
    </a>
    <% end %>
<% end %>
<br/><br/>

