<h1>Orders</h1>
<br>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
      <th scope="col">Status</th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
        <%= simple_form_for(order) do |form| %>
            <%= form.text_field :name, type: :hidden %>
            <%= form.text_area :description, style: "#{'display:none'}" %>
            <%= form.number_field :price, type: :hidden %>
            <%= form.number_field :quantity, type: :hidden %>
            <tr>
                <th scope="row"><%= order.name %></th>
                <td><%= order.description %></td>
                <td><%= order.quantity %></td>
                <td><%= order.price %></td>
                <td><%= form.select(:status, options_for_select([['Placed', 'Placed'], ['In Transit', 'In Transit'], ['Delivered', 'Delivered']], :selected => form.object.status)) %></td>
                <td><%= form.button :submit, class:"btn btn-outline-success btn-sm" %></td>
            </tr>
            <%= form.number_field :user_id, type: :hidden %>
            <%= form.number_field :item_id, type: :hidden %>
        <% end %>
    <% end %>
  </tbody>
</table>

<br>
