<h1>Items</h1>
<br>

<div class="container">
  <div class="row">
    <% @items.each do |item| %>
      <% if item.user == current_user %>
        <%= link_to item, class: 'class' do %>
          <div class="card" style="width: 18.8rem; margin: 10px;">
            <%= image_tag(item.thumbnail(0)) %>
            <div class="card-body">
              <h5 class="card-title"><%= item.name %></h5>
        <% end %>
              <p>
                Price: &#8377;<%= item.price %><br>
                Quantity: <%= item.quantity %>
              </p>
            </div>
          </div>
      <% end %>
    <% end %>
  </div>
</div>

<br>

<%= link_to 'New Item', new_item_path %>
